<html>
<header>
    <title>This is title</title>
    <style>
        html {
            font-size: 100%;
            /* or 62.5% or whatever you like, it doesn't matter, it's just a browser fix, however "rem" units will be based on that value, so make it confortable for calculations */
        }

        body {
            font-size: 50%;
            /* That is your text's default font size. Here i chose 12px */
        }

        td {
            font-size: 10px;
        }
    </style>
</header>

<body>

    <p>UniqCL= {{.UniqClient }}</p>

    <table style="width:100%">
        <tr>
            <th>Date</th>
            <th>Site</th>
            <th>Ua</th>
            <th>Urlp</th>
            <th>Mob</th>
            <th>Guuid</th>
            <th>Ref</th>
        </tr>
        {{range .Records}}
        <tr>
            <td>{{.Date}}</td>
            <td>{{.Site}}</td>
            <td>{{.Ua}}</td>
            <td>{{.Urlp}}</td>
            <td>{{.Mob}}</td>
            <td>{{.Guuid}}</td>
            <td>{{.Referer}}</td>
        </tr>
        {{end}}

    </table>
</body>

</html>